html {
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-rows: 90px 1fr 60px;
  border: 1px solid red;
  height: 100vh;
}
header { border: 1px solid blue; }
footer { border: 1px solid blue; }
.warning { color: red; font-weight: bold; }
